* {
    margin: 0px;
    padding: 0px;
}

#calculator {
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    margin-top: 20px;
    width: 250px;
    padding: 26px;
    background-color: rgb(31, 31, 31);
    text-align: center;
    box-shadow: 6px 6px rgb(94, 94, 94);
}

#display {
    color: white;
    font-size: 30pt;
    margin-bottom: 10px;
    padding-right: 16px;
    text-align: right;
    background-color: rgb(51, 51, 51);
    border-radius: 25px;

}

.grayButton {
    margin: 5px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16pt;
    color: white;
    background-color: rgb(116, 116, 116);
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px rgb(70, 70, 70);
}

.operator {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-radius: 50%;
    font-size: 16pt;
    color: white;
    background-color: rgb(255, 136, 0);
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px rgb(126, 71, 20);
}

#equals {
    height: 50px;
    width: 250px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 16pt;
    color: rgb(31, 31, 31);
    background-color: rgb(180, 180, 180);
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px rgb(112, 112, 112);
}

